.text-type {
  display: inline-block;
}

.text-type__cursor {
  display: inline-block;
  vertical-align: middle;
  animation: blink 1s step-end infinite;
}

.text-type__cursor--hidden {
  opacity: 0;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
